@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
$button: #49beaf;
$button-highlight: #3fafa1;
$button-compliment: #be4958;
$background: #C08497;

* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body,html {
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 12px;
}

a {
	text-decoration: none;
	color: $button;
}

button {
	border-radius: 5px;
	border: none;
	cursor: pointer;
	background: $button;
	padding: 15px 30px;
	font-size: 1.5rem;
}
button:hover {
	background: $button-highlight;
}
button:focus {
	outline: 0
}

//Should be the container inside of first div, right under HomeNav
.main-container {
	width: 80%;
	margin: 0 auto;
}

//*************************************
// 		   	  DASHBOARD
//*************************************
.dashboard-title {
	font-size: 3rem;
	text-align: center;
}

.dashboard-invite {
	text-align: center;
	font-weight: 300;
}

.dashboard-house {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 300;
}

//*************************************
// 		   HOUSE PAGE
//*************************************
// NO HOUSE
.house-form-wrapper {
	text-align: center;
}

.house-form button {
	margin-top: 3rem;
	text-align: center;
	padding: 15px 30px;
	font-size: 2rem;
	font-weight: 300;
	background: $button;
}

.house-form input {
	font-size: 3rem;
	border-radius: 5px;
	border-shadow: none;
	font-weight: 300;
}

.house-form h3 {
	font-weight: 300;
	font-size: 3rem;
}

//*************************************
// 		   	  EXPENSE PAGE
//*************************************
.expense-form-wrapper {
	margin-top: 3rem;
}

.expense-form {
	text-align: center;
}

.expense-item {
	font-size: 2.5rem;
	font-weight: 300;
	margin-right: 2rem;
}

.expense-category {

}

.expense-debtor {

}

.expense-amount {
	border-radius: 5px;
}

.expense-list {
	text-align: center;
	font-size: 3rem;
	font-weight: 300;
}

.expense-table {
	font-size: 2rem;
	width: 100%;
}

.material-icons {
	cursor: pointer;
}

.table-paid {
	color: green;
}

.table-unpaid {
	color: gray;
}

.table-trash {
	color: red;
}

//*************************************
// 		   	 PROFILE PAGE
//*************************************
.profile-page {
	text-align: center;
}

.profile-page h2 {
	font-size: 2rem;
	font-weight: 400;
	margin-top: 30px;
}

.profile-page input {
	height: 30px;
    border-color: transparent transparent $button transparent;
    font-size: 2rem;
    background: transparent;
    margin-bottom: 15px;
    font-weight: 300;
}

.profile-page input:focus {
	outline: 0;
}

//*************************************
// 			HOME NAVIGATION
//*************************************
.nav-wrapper {
	height: 40px;
	font-size: 2rem;
	border-bottom: 1px solid black;
	font-weight: 300;
}

.home-button {
	text-decoration: none;
	padding: 5px 30px;
	cursor: pointer;
}

.settings-nav-wrapper,.home-nav-wrapper,.logout-nav-wrapper {
	display: inline-block;
	vertical-align: top;
	color: $button;
}

.settings-nav-wrapper {
	text-align: center;
	width: 33%;
	padding-bottom: 5px;
}

.home-nav-wrapper {
	text-align: center;
	width: 34%;
	padding-bottom: 5px;
	padding-top: 5px;
}

.logout-nav-wrapper {
	text-align: center;
	width: 33%;
	padding-bottom: 5px;
	padding-top: 5px;
}

.menu {
  padding: 0;
  margin: 0;
  height: 0; /*at rest, menu has height of 0*/
  overflow: hidden; /*prevents text from overflowing its container */
  transition: .75s height ease;
}

.menu-title {
	margin: 0;
}

.menu li {
  list-style: none;
  margin: 10px 0px; 
}

p.menu-title:hover + .menu, .menu:hover {
  height: 150px; /* when the title is hovered, the menu will expand to 410px */
  z-index: 100;
}

.material-icons.md-18 { 
  font-size: 18px; 
}

//*************************************
//			 LANDING PAGE
//*************************************
.hero-text {
	position: fixed;
	top: 50%;
	left: 30%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.hero-text h2 {
	font-size: 4rem;
	margin-bottom: 0;
}

.hero-text p {
	font-size: 1.5rem;
	line-height: 2.5rem;
	margin-top: 0;
}

.hero-button {
	font-size: 2rem;
	cursor: pointer;
	padding: 20px 50px;
	border-radius: 5px;
	border: none;
	background: $button;
	margin-bottom: 15px;
	text-align: center;
}

.landing-page {
	position: absolute;
	// background: url('../images/landing.jpg') bottom center;
	background: url('../images/landing2.jpg') 10% top;
 	background-size: cover;
 	height: 100vh;
 	width: 100%
}

.landing-nav {
	position: fixed;
	width: 100%;
	border-bottom: 1px solid black;
	background: transparent;
	height: 70px;
}

.landing-button {
	display: inline-block;
}

.logo {
	text-decoration: none;
	color: black;
	font-size: 3rem;
	padding: 15px 15px;
	letter-spacing: .5rem;
}

.sign-up,.log-in {
	font-size: 1.2rem;
	cursor: pointer;
	text-align: right;
	float: right;
	margin: 10px 20px 0 0;
	padding: 15px 20px;
	border-radius: 5px;
	border: none;
	background: $button;
}

.sign-up:hover,.log-in:hover,.hero-button:hover {
	background: $button-highlight;
}

.sign-up:focus,.log-in:focus,.hero-button:focus {
	outline: 0;
}

//*************************************
//		   SIGNUP//LOGIN PAGE
//*************************************
.form-container {
	position: relative;
	height: 100vh;

	position: absolute;
	background: url('../images/landing3.jpg') bottom center;
	// background: url('../images/landing2.jpg') 10% top;
 	background-size: cover;
 	width: 100%
}

.form-container .landing-nav {
	border-bottom: 1px solid white;
}

.form-container .logo {
	color: white;
}

.login-form,.signup-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

button.login,button.signup {
	padding: 15px 20px;
	font-size: 1.5rem;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	background: $button;
}

.login,.signup {
	display: block;
	margin-top: 20px;
	width: 300px;
}

.create-form {
	// width: 250px;
    height: 30px;
    border-color: transparent transparent $button transparent;
    color: white;
    font-size: 2rem;
    background: transparent;
}

.create-form::placeholder {
   	color: white;
}

.login:focus,.signup:focus {
	outline:0;
}

button.login:hover,button.signup:hover {
	background: $button-highlight;
}

//### Uncomment if i decide to put 'Create account' & 'Sign in' header above forms
// .title {
// 	text-align: center;
// 	color: white;
// 	font-size: 3rem;
// 	font-weight: 300;
// 	margin-bottom: 50px;
// }

//On sign-up page, hides 'signup' button on nav header
.signup-container .sign-up {
	display: none;
}
//On log-in page, hides 'login' button on nav header
.login-container .log-in {
	display: none;
}

